[Unit]
Description=Vyatta Sandbox for User %i

[Service]
Environment="UNIFIED_CGROUP_HIERARCHY=1"
EnvironmentFile=-/run/cli-sandbox/%i/cli-sandbox.env
ExecStartPre=/opt/vyatta/sbin/cli-sandbox --create %i
ExecStart=/opt/vyatta/sbin/cli-sandbox --start %i
ExecStopPost=/opt/vyatta/sbin/cli-sandbox --destroy %i
KillMode=mixed
Type=notify
RestartForceExitStatus=133
SuccessExitStatus=133
Slice=machine.slice
Delegate=yes
TasksMax=16384

# Enforce a strict device policy, similar to the one nspawn configures
# when it allocates its own scope unit. Make sure to keep these
# policies in sync if you change them!
DevicePolicy=closed
DeviceAllow=char-pts rw

